@import "_library.scss";

#addOrEditMember {
  form {
    @include Flex-Col(center, center, 50vw, 100%);
    margin: 0vh auto 5vh;
    input {
      border-radius: 0.65rem;
      margin: 1vh 0vw;
    }
    textarea {
      @include WidthHeight(60vw, 10vh);
      resize: none;
      border-radius: 0.65rem;
      margin: 2vh 0vw;
      text-indent: 2%;
      padding: 1%;
    }
    img {
      @include Img-Round(1.7rem);
      margin: 0vh 1vw;
      cursor: pointer;
    }
    .list-item-wrap, .list-header-wrap {
      @include Flex-Row(center, center, 100%, 100%);
    }
    .list-wrap {
      @include Flex-Col(center, center, 100%, 100%);
    }
    .child-dragging, .city-dragging, .interest-dragging, .language-dragging {
      opacity: 0.5;
    }
  }
}
