@import "_library.scss";

#famTree {
.tree {
  @include Grid-Col(15vw 15vw 15vw 15vw 15vw, 40vh, 3vh, 2vw);
  margin-top: 5vh;
  justify-content: center;
}

.member-card {
  @include Flex-Col(center, center, 15vw, 40vh);
  background-color: #181e36;
  cursor: pointer;
  div, ul {
    margin: 1vh 0vw;
  }
  img {
    @include Img-Round(7rem);
    margin: 2vh 0vw;
  }
}

.mid-info-modal {
  @include Flex-Col(center, flex-start, 35vw, 60vh);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #181e36;
  border-radius: 0.4rem;
  .top-div {
    @include Flex-Row(center, center, 100%, 80%);
    .left-div, .right-div {
      @include Flex-Col(center, center, 100%, 100%);
      div, ul {
        margin: 1vh 0vw;
      }
      img {
        @include Img-Round(7rem);
        margin: 2vh 0vw;
      }
    }
  }
  .control-pannel {
    .danger {
      background-color: $cWarning;
    }
    a {
      margin: 0vh 1vw;
    }
  }
}
.add-wrap {
  position: absolute;
  top: 10vh;
  right: 3vw;
}
.close-btn {
  @include CloseBtn(2.2rem);
}
}
