@model FamilyMember;

@{
  ViewData["Title"] = "Add Family Member";
}

<div id="addMember">

  <div class="title-wrap">
    <h1>Add Family Member</h1>
  </div>

  <form method="post" asp-controller="FamTree" asp-action="AddMember">
    <div class="pfp-div">
      <input asp-for="FirstName" type="text" placeholder="first name" />
      <input asp-for="LastName" type="text" placeholder="last name" />
      <input asp-for="Nickname" type="text" placeholder="nickname" />
      <input asp-for="Pfp" type="text" placeholder="profile picture" />
      <label>Date of Birth</label>
      <input asp-for="DOB" type="date" />
      <label>Date of Passing</label>
      <input asp-for="DOP" type="date" />
      <label>Has not passed</label><input type="checkbox" />
      <!--
        <input asp-for="PartnerId" type="text" placeholder="partner" />
      -->
      <input asp-for="PartnersName" type="text" placeholder="partner" />
      <input asp-for="BirthLocation" type="text" placeholder="city of birth" />
      <input asp-for="Occupation" type="text" placeholder="occupation" />
      <br>
      <label>Education:</label>
      <textarea asp-for="Education" type="text"></textarea>
      <label>Anecdotes:</label>
      <textarea asp-for="Anecdotes" type="text"></textarea>
      <label>Bio:</label>
      <textarea asp-for="Bio" type="text"></textarea>
      <div class="btn-wrap">
        <button type="submit" class="btn">Add</button>
        <a asp-controller="FamTree" asp-action="FamTree" class="btn">Back</a>
      </div>
    </div>
  </form>

</div>
